@model IOSystem.Models.ORegister
@{
    ViewData["Title"] = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>


<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<a class="btn btn-primary btn-sm" asp-action="Create">New Record</a>

<div class="container">
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>IRID</th>
                    <th>SchoolName</th>
                    <th>SubjectName</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
        </table>
    </div>
</div>


 Scripts{
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    ajax: {
                        url: "ORegister/DisplayRecord",
                        type: "POST",
                    },
                    processing: true,
                    serverSide: true,
                    filter: true,
                    columns: [
                        { data: "IRID", name: "IRID" },
                        { data: "SchoolName", name: "SchoolName" },
                        { data: "SubjectName", name: "SubjectName" },
                        {
                            "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/ORegister/Edit/' + full.IRID + '">Edit</a>'; }
                        },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.IRID + "'); >Delete</a>";
                            }
                        },
                    ],
                }
            );
        });


        function DeleteData(ID)
        {
            if (confirm("Are you sure you want to delete ...?"))
            {
                Delete(ID);
            }
            else
            {
                return false;
            }
        }


    function Delete(ID)
    {
        var url = '@Url.Content("~/")' + "ORegister/Delete";
        $.post(url, { ID: ID }, function (data)
      {
          if (data)
          {
              oTable = $('#myTable').DataTable();
              oTable.draw();
          }
          else
          {
              alert("Something Went Wrong!");
          }
      });
    }

    </script>
}
