@model IOSystem.Models.Register;
<h2>
    @{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/themeLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/themeLTE/dist/css/adminlte.min.css">

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">
                        <!-- left column -->
                        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Register Master</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form method="POST" asp-controller="Register" asp-action="Create">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Sr No</label>
                                            <input type="text" class="form-control" placeholder="Enter Sr No" asp-for="SrNo">
                                        </div>
                                        <div class="form-group">
                                            <label>Register Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Register Name" asp-for="RegisterName">
                                        </div>
                                        <div class="form-group">
                                            <label>RType</label>
                                            <select asp-for="RType" class="form-control" asp-items="@(new SelectList(ViewBag.Register,"LetterCategoryCode","LetterCategoryName"))">
                                                <option value="">---Select---</option>
                                            </select>

                                        </div>
                                    </div>

                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a class="btn btn-outline-primary">Cancel</a>
                                    </div>

                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>



    <!-- jQuery -->
    <script src="~/themeLTE/plugins/jquery/jquery.min.js"></script>

</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
