@model IOSystem.Models.IRegister
@{
    ViewData["Title"] = "Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- DataTables -->
    <link rel="stylesheet" href="~/themeLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/themeLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/themeLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Register Master</h1>
                        </div>
                        <div class="col-sm-6">
                            <div class="breadcrumb float-sm-right">
                                <a class="btn btn-primary" asp-action="Create">New Record</a>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>RegisterID</th>
                                                <th>SrNo</th>
                                                <th>RegisterName</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>

    <!-- jQuery -->
    <script src="~/themeLTE/plugins/jquery/jquery.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/themeLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/themeLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/themeLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/themeLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/themeLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/themeLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

</body>
</html>


@section Scripts{

    <script>

        $(document).ready(function ()
        {
            $("#example").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Register/DisplayRecord",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "RegisterID", "name": "RegisterID", "autoWidth": true },
                    { "data": "SrNo", "name": "SrNo", "autoWidth": true },
                    { "data": "RegisterName", "name": "RegisterName", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta)
                        { return '<a class="btn btn-info" href="/Register/Edit/' + full.RegisterID + '">Edit</a>'; }
                    },
                    {
                        data: null, render: function (data, type, row)
                        {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.RegisterID + "'); >Delete</a>";
                        }
                    },
                ]

            });
        });


        function DeleteData(RegisterID)
        {
            if (confirm("Are you sure you want to delete ...?"))
            {
                Delete(RegisterID);
            }
            else
            {
                return false;
            }
        }


        function Delete(IRID)
        {
            var url = '@Url.Content("~/")' + "Register/Delete";

            $.post(url, { ID: RegisterID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#example').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
        }

    </script>
}


<!--@section Scripts{-->
    @*
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>*@

<!--<script>
            $(document).ready(function () {
                $('#example1').DataTable(
                    {
                        ajax: {
                            url: "Register/DisplayRecord",
                            type: "POST",
                        },
                        processing: true,
                        serverSide: true,
                        filter: true,
                        columns: [
                            { data: "RegisterID", name: "RegisterID" },
                            {
                                "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Register/Edit/' + full.RegisterID + '">Edit</a>'; }
                            },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.RegisterID + "'); >Delete</a>";
                                }
                            },
                        ],
                    }
                );
            });


            function DeleteData(id)
            {
                if (confirm("Are you sure you want to delete ...?"))
                {
                    Delete(id);
                }
                else
                {
                    return false;
                }
            }


        function Delete(id)
        {
            var url = '@Url.Content("~/")' + "Register/Delete";
            $.post(url, { id: id }, function (data)
          {
              if (data)
              {
                  oTable = $('#example1').DataTable();
                  oTable.draw();
              }
              else
              {
                  alert("Something Went Wrong!");
              }
          });
        }

    </script>
}-->
